{{!< default}}
{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

<div class="row main-content">
  <div class="small-12 columns">
    <h3 class="faq-header">Frequently Asked Questions</h3>
    <ul class="accordion" data-accordion>
    {{#foreach posts}}
      <li class="accordion-navigation">
        <a href="#faq{{id}}" class="faq-title">{{{title}}}</a>

        <div id="faq{{id}}" class="content">{{content}}</div>
      </li>
    {{/foreach}}
    </ul>
  </div>
</div>